<footer class="footer pb-2 mt-5" style="font-size: xx-small">
    <div class="container">
        <hr>
        <div class="row align-items-center justify-content-center mb-3" style="text-align: center">
            <div class="col-md-6 order-1 order-lg-0">
                <div class="copyright">
                    Copyright &copy; 2021 Learn2Secure. All Rights Reserved <a href="#" target="_blank" hidden>Govt. of AP</a>
                </div>
            </div>
        </div>
    </div>
</footer>