{% extends "base.html" %}
{% block content %}

    <style>
        body {
            background-size: cover !important;
            background: url('{{ url_for('static',filename='img/background.png') }}') no-repeat fixed center !important;
        }
    </style>

    <div class="container-fluid mt-5">
        <div class="col page-title">
            <div class="row align-items-center justify-content-center" align="center">
                <h1 class="font-weight-bolder">Advanced</h1>
            </div>
            <div class="row align-items-center justify-content-center">
                <h6>You are about to become an expert!</h6>
            </div>
        </div>
    </div>
    <div class="container mt-0">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 px-lg-3">
                <div class="card-custom mt-lg-0 help-card">
                    <h6 class="my-3" style=""></h6>
                    <div class="so-accordion-wrapper">
                        <div class="so-tab">
                            <input id="so-tab-1" type="checkbox" name="tabs" checked>
                            <label for="so-tab-1">1. Security at Home</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    &quot;What is home network security and why should I care?&quot;</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Home network security refers to the protection of a network that connects devices—such as routers, computers, smartphones, and Wi-Fi-enabled baby monitors and cameras—to each other and to the internet within a home.
                                    Many home users share two common misconceptions about the security of their networks:
                                    <br>Their home network is too small to be at risk of a cyberattack.<br>
                                    Their devices are “secure enough” right out of the box.<br>
                                    Most attacks are not personal in nature and can occur on any type of network—big or small, home or business. If a network connects to the internet, it is inherently more vulnerable and susceptible to outside threats.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    &quot;How do I improve the security of my home network? &quot;
                                    <br>Update your software regularly<br>Remove unnecessary services and software<br>Adjust factory-default configurations on software and hardware
                                    <br>Change default log-in passwords and usernames<br>Use strong and unique passwords etc.
                                </p><br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/6Jubl1UnJTE"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-2" type="checkbox" name="tabs" >
                            <label for="so-tab-2">2. Public Wifi</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Public Wi-Fi can be found in popular public places like airports, coffee shops, malls, restaurants, and hotels — and it allows you to access the Internet for free. These “hotspots” are so widespread and common that people frequently connect to them without thinking twice. Although it sounds harmless to log on and check your social media account or browse some news articles, everyday activities that require a login — like reading e-mail or checking your bank account — could be risky business on public Wi-Fi.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    <br>The problem with public Wi-Fi is that there are a tremendous number of risks that go along with these networks. While business owners may believe they’re providing a valuable service to their customers, chances are the security on these networks is lax or nonexistent..</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    <br>One of the most common threats on these networks is called a Man-in-the-Middle (MitM) attack. Essentially, a MitM attack is a form of eavesdropping. When a computer makes a connection to the Internet, data is sent from point A (computer) to point B (service/website), and vulnerabilities can allow an attacker to get in between these transmissions and “read” them. So what you thought was private no longer is
                                </p><br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/SfFSxThtzhE"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-3" type="checkbox" name="tabs" >
                            <label for="so-tab-3">3. Social Engineering</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Social engineering is the term used for a broad range of malicious activities accomplished through human interactions. It uses psychological manipulation to trick users into making security mistakes or giving away sensitive information.<br>
                                    Social engineering attacks happen in one or more steps. A perpetrator first investigates the intended victim to gather necessary background information, such as potential points of entry and weak security protocols, needed to proceed with the attack. Then, the attacker moves to gain the victim’s trust and provide stimuli for subsequent actions that break security practices, such as revealing sensitive information or granting access to critical resources.
                                    <br>What makes social engineering especially dangerous is that it relies on human error, rather than vulnerabilities in software and operating systems. Mistakes made by legitimate users are much less predictable, making them harder to identify and thwart than a malware-based intrusion.
                                    <br><strong>Social Engineering attack techniques</strong><br>
                                    <ul>
                                        <li>Baiting</li>
                                        <li>Scareware</li>
                                        <li>Pretexting</li>
                                        <li>Phising</li>
                                        <li>Spear Phishing</li>
                                    </ul>
                                    Baiting<br>Scareware<br>Pretexting<br>Phising<br>Spear phising
                                </p><br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/GSU1Ue_7Kb0"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-4" type="checkbox" name="tabs" >
                            <label for="so-tab-4">4. Cloud Security</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Cloud computing is the delivery of hosted services, including software, hardware, and storage, over the Internet. The benefits of rapid deployment, flexibility, low up-front costs, and scalability, have made cloud computing virtually universal among organizations of all sizes, often as part of a hybrid/multi-cloud infrastructure architecture.<br>
                                    Cloud security refers to the technologies, policies, controls, and services that protect cloud data, applications, and infrastructure from threats.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Cloud security is a responsibility that is shared between the cloud provider and the customer. There are basically three categories of responsibilities in the Shared Responsibility Model: responsibilities that are always the provider’s, responsibilities that are always the customer’s, and responsibilities that vary depending on the service model: Infrastructure as a Service (IaaS), Platform as a Service (PaaS), or Software as a Service (SaaS), such as cloud email.<br>
                                    The security responsibilities that are always the provider’s are related to the safeguarding of the infrastructure itself, as well as access to, patching, and configuration of the physical hosts and the physical network on which the compute instances run and the storage and other resources reside.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    <br>Advanced Cloud Security Challenges<br>
                                    Increased Attack Surface<br>Lack of Visibility and Tracking<br>Ever-Changing Workloads<br>DevOps, DevSecOps and Automation<br>Granular Privilege and Key Management<br>
                                </p><br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/0lw4KU5wHsk"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>

{% endblock %}