{% extends "base.html" %}

{% block content %}

    <style>
        body {
            background-size: cover !important;
            background: url('{{ url_for('static',filename='img/background.png') }}') no-repeat fixed center !important;
        }
    </style>

    <div class="container-fluid mt-5">
        <div class="col page-title">
            <div class="row align-items-center justify-content-center" align="center">
                <h1 class="font-weight-bolder">Basics</h1>
            </div>
            <div class="row align-items-center justify-content-center">
                <h6>Get started with Cyber Security</h6>
            </div>
        </div>
    </div>
    <div class="container mt-0">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 px-lg-3">
                <div class="card-custom mt-lg-0 help-card">
                    <h6 class="my-3" style=""></h6>
                    <div class="so-accordion-wrapper">
                        <div class="so-tab">
                            <input id="so-tab-1" type="checkbox" name="tabs" checked>
                            <label for="so-tab-1">1. Introduction to Cyber Security</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    &quot;Cybersecurity is primarily about people, processes, and technologies working
                                    together to encompass the full range of threat reduction, vulnerability reduction,
                                    deterrence, international engagement, incident response, resiliency, and recovery
                                    policies and activities, including computer network operations, information
                                    assurance, law enforcement, etc.&quot;</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Cybersecurity is the protection of Internet-connected systems, including hardware,
                                    software, and data from cyber attacks. It is made up of two words one is cyber and
                                    other is security. Cyber is related to the technology which contains systems,
                                    network and programs or data. Whereas security related to the protection which
                                    includes systems security, network security and application and information
                                    security.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    It is the body of technologies, processes, and practices designed to protect
                                    networks, devices, programs, and data from attack, theft, damage, modification or
                                    unauthorized access. It may also be referred to as&nbsp;<strong
                                        style="color: rgba(0, 0, 0, 0.75);">information technology security</strong>.
                                </p><br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/-S3MsuXv0OY"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-2" type="checkbox" name="tabs" >
                            <label for="so-tab-2">2. Features of Cyber Security</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    A good cybersecurity platform is your first line of defense against breaches and attacks. That said, choosing a security platform is no picnic either; it’s easy to get overwhelmed by the number of solutions on the market. There are hundreds of solutions, each with a different angle on information security.
                                    When you’re trying to navigate the market, it can be helpful to keep a list of the most important features your ideal cybersecurity platform must have to address your organization’s specific risks. Here is a checklist to get you started.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    <strong>7 Important Features of a Cybersecurity Platform</strong> <br> <br>
                                    <ol>
                                        <li>Good analytics-Every organization in every industry can benefit from good analytics</li><br>
                                        <li>Coverage of your biggest external threats</li><br>
                                            <li>A defense against internal threats</li><br>
                                                <li>Compliance</li><br>
                                                    <li>Manage risk across your entire ecosystem</li><br>
                                                        <li>Threat prevention, detection, and response</li><br>
                                                            <li>Continuous monitoring.</li></ol></p><br>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/ZLyFt6BdxD4"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-3" type="checkbox" name="tabs" >
                            <label for="so-tab-3">3. Keys of Cyber Security</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    The Cyber Security on a whole is a very broad term but is based on three fundamental concepts known as “The CIA Triad“.
                                    It consists of Confidentiality, Integrity and Availability. This model is designed to guide the organization with the policies of Cyber Security in the realm of Information security.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Confidentiality defines the rules that limits the access of information. 
                                    It takes on the measures to restrict the sensitive information from being accessed by cyber attackers and hackers.
                                
                                <br>Inegrity assures that the data is consistent, accurate and trustworthy over its time period. 
                                It means that the data within the transit should not be changed, altered, deleted or illegally being accessed</p><br><br>
                                Availability in terms of all necessary components like hardware, software, networks, devices and security equipment should all be maintained and upgraded. This will ensure the smooth functioning and access of Data without any disruption. Also providing constant communication between the components through providing enough bandwidth.
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/rwigKjEsdTc"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-4" type="checkbox" name="tabs" >
                            <label for="so-tab-4">4. Cybersecurity Threats and their Identification </label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    A cyber or cybersecurity threat is a malicious act that seeks to damage data, steal data, or disrupt digital life in general. Cyber attacks include threats like computer viruses, data breaches, and Denial of Service (DoS) attacks</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Cyber threats are a big deal. Cyber attacks can cause electrical blackouts, failure of military equipment and breaches of national security secrets. They can result in the theft of valuable, sensitive data like medical records. They can disrupt phone and computer networks or paralyze systems, making data unavailable. It’s not an exaggeration to say that cyber threats may affect the functioning of life as we know it.
                                    The threats are growing more serious, too. Gartner explains, “Cybersecurity risks pervade every organization and aren’t always under IT’s direct control. Business leaders are forging ahead with their digital business initiatives, and those leaders are making technology-related risk choices every day. Increased cyber risk is real — but so are the data security solutions.”</p><br>
                               <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/Dk-ZqQ-bfy4"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-5" type="checkbox" name="tabs" >
                            <label for="so-tab-5">5.Intrusion detection and Intrusion prevention</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Intrusion detection and prevention are two broad terms describing application security practices used to mitigate attacks and block new threats.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    The first is a reactive measure that identifies and mitigates ongoing attacks using an intrusion detection system. It’s able to weed out existing malware (e.g., Trojans, backdoors, rootkits) and detect social engineering (e.g., man in the middle, phishing) assaults that manipulate users into revealing sensitive information.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    The second is a proactive security measure that uses an intrusion prevention system to preemptively block application attacks. This includes remote file inclusions that facilitate malware injections, and SQL injections used to access an enterprise’s databases.
                                </p><br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/hEgWPWIuq_s"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-6" type="checkbox" name="tabs" >
                            <label for="so-tab-6">6. Protect Information</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    How can businesses and individuals guard against cyber threats?</p>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    <ol>
                                        <li>Update your software and operating system:This means you benefit from the latest security patches.</li>
                                        <li>Use anti-virus software:Security solutions like Kaspersky Total Security will detect and removes threats. Keep your software updated for the best level of protection.</li>
                                        <li>Use strong passwords:Ensure your passwords are not easily guessable.</li>
                                        <li>Do not open email attachments from unknown senders:These could be infected with malware.</li>    
                                        <li>Do not click on links in emails from unknown senders or unfamiliar websites:This is a common way that malware is spread.</li>    
                                        <li>Avoid using unsecure WiFi networks in public places:Unsecure networks leave you vulnerable to man-in-the-middle attacks.</li>
                                    </ol>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/GQCnQr5Hmhc"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-7" type="checkbox" name="tabs" >
                            <label for="so-tab-7">7. Passwords and Authentication</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Password authentication is a process that involves a user inputting a unique ID and key that are then checked against stored credentials. You've likely been asked to create and/or enter a password to gain access to a personal account, whether that's a social media platform or an online banking tool</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Authentication is the process of determining whether someone or something is, in fact, who or what it declares itself to be. Authentication technology provides access control for systems by checking to see if a user's credentials match the credentials in a database of authorized users or in a data authentication server.
                                    Users are usually identified with a user ID, and authentication is accomplished when the user provides a credential, for example a password, that matches with that user ID. Most users are most familiar with using a password, which, as a piece of information that should be known only to the user, is called a knowledge authentication factor. Other authentication factors, and how they are used for two-factor or multifactor authentication (MFA).</p><br>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/rrLIji-udPU"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-8" type="checkbox" name="tabs" >
                            <label for="so-tab-8">8. Multi-factor Authentication</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Multifactor Authentication (MFA) is a security feature offered by many websites, applications and devices that dramatically improves account security. Sometimes MFA is also referred to as Two-Factor Authentication or 2FA. Technically, MFA could refer to a system where there are more than two forms of authentication.
                                    Anyway, here’s how it works. If you have MFA setup for a given account (website, application or device), when you log in with your username and password, that account server is going to ask for a second, independent form of authentication before it will actually let you into the system. It’s kind of like when you open a bank account and they ask to see a picture ID and some other form of identification, like your social security card or a passport. It’s much harder to pretend you are someone you’re not when you have to prove who you are in two different ways!</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Multifactor Authentication Methods :
                                    <ol>
                                        <li>Mobile device application “Push” method</li>
                                        <li>Mobile device application code method</li>
                                        <li>SMS Code Method</li>
                                        <li>Email Code Method</li>
                                        <li>Physical Token</li>
                                    </ol></p>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/Julnk-1TfWU"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>

{% endblock %}