{% extends "base.html" %}

{% block content %}

    <style>
        body {
            background-size: cover !important;
            background: url('{{ url_for('static',filename='img/background.png') }}') no-repeat fixed center !important;
        }
    </style>

    <div class="container-fluid mt-5">
        <div class="col page-title">
            <div class="row align-items-center justify-content-center" align="center">
                <h1 class="font-weight-bolder">Intermediate</h1>
            </div>
            <div class="row align-items-center justify-content-center">
                <h6>You are not far away now!</h6>
            </div>
        </div>
    </div>
    <div class="container mt-0">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 px-lg-3">
                <div class="card-custom mt-lg-0 help-card">
                    <h6 class="my-3" style=""></h6>
                    <div class="so-accordion-wrapper">
                        <div class="so-tab">
                            <input id="so-tab-1" type="checkbox" name="tabs" checked>
                            <label for="so-tab-1">1. Encryption</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    &quot;What is Encryption?&quot;</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Encryption can help protect data you send, receive, and store, using a device. That can include text messages stored on your smartphone, running logs saved on your fitness watch, and banking information sent through your online account.
                                    Encryption is the process that scrambles readable text so it can only be read by the person who has the secret code, or decryption key. It helps provide data security for sensitive information.</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    How does Encryption works?<br>
                                    Encryption is the process of taking plain text, like a text message or email, and scrambling it into an unreadable format — called “cipher text.” This helps protect the confidentiality of digital data either stored on computer systems or transmitted through a network like the internet.
                                    When the intended recipient accesses the message, the information is translated back to its original form. This is called decryption.
                                    To unlock the message, both the sender and the recipient have to use a “secret” encryption key — a collection of algorithms that scramble and unscramble data back to a readable format.
                                </p><br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/r4HQ8Bp-pfw"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                               
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-2" type="checkbox" name="tabs" >
                            <label for="so-tab-2">2. Encrypting Smartphone</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    There are two main kinds of smartphone encryption, both designed to stop unauthorized persons from reading private information.<br> First, there's encrypted messaging software, which covers what law-enforcement experts call "data in motion," or messages going from one device to another.
                                    The most secure kind of communications encryption, called "end-to-end" encryption, prevents even app makers, cellular carriers or phone makers from being able to read the messages. This is what Apple's iMessages offers, and it's what counterterrorism officials have trouble encrypting and decrypting. But Apple says that because it doesn't have the keys, it can't help.
                                    <br>The other kind of encryption is encryption of the stored data on a device itself, which law enforcement calls "data at rest." This is more often sought by regular cops who want to read what a drug dealer, kidnapper or pimp has on his phone. Android and iOS both offer full-device encryption, and both Google and Apple have fought court orders to help law-enforcement authorities decrypt phones.</p><br>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/AYcqo5CEKgI"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-3" type="checkbox" name="tabs" >
                            <label for="so-tab-3">3. Managing connected apps on Google</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    Apps are great tools for doing something when you’re connected to the Internet. Apps can be both on your mobile phone and on your computer. There are apps that can be connected to your online accounts like your Google account, Facebook account, and more.
                                    These applications also called third-party applications (or approved apps), help you get information, perform an action, play a game, and a variety of ways. Sometimes, the need for these apps stops, but you still have permission and access to your account, and here’s the need for this article.</p><br>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/boGHBRDVaiU"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-4" type="checkbox" name="tabs" >
                            <label for="so-tab-4">4. Google Two factor authentication</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    With 2-Step Verification (also known as two-factor authentication), you add an extra layer of security to your account in case your password is stolen. After you set up 2-Step Verification, you’ll sign in to your account in two steps using:
                                    <br>Something you know, like your password
                                    <br>Something you have, like your phone</p><br>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/iup3HTrcO28"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                               
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-5" type="checkbox" name="tabs" >
                            <label for="so-tab-5">5. Using Password Manager</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    A password manager will take a load off your mind, freeing up brain power for doing productive things rather than remembering a long list of passwords.<br>
                                    When you use a password manager and need to log into a website, you will first visit that website normally. Instead of typing your password into the website, you type your master password into the password manager, which automatically fills the appropriate login information into the website. (If you’re already logged into your password manager, it will automatically fill the data for you). You don’t have to think about what email address, username, and password you used for the website – your password manager does the dirty work for you.<br>
                                    If you’re creating a new account, your password manager will offer to generate a secure random password for you, so you don’t have to think about that, either. It can also be configured to automatically fill information like your address, name, and email address into web forms.</p><br>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/IRlN6GxoFzI"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
                        <div class="so-tab">
                            <input id="so-tab-6" type="checkbox" name="tabs" >
                            <label for="so-tab-6">6. Importance of skepticism</label>
                            <div class="so-tab-content">
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    &quot;Technology, in general, and computer science in particular, have been hyped up to such an extreme level that we’ve ignored the importance of not only security but broader notions of ethical computing&quot;</p><br>
                                <p style="color: rgb(0, 0, 0); font-family: verdana, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                                    We like to think that things are going to get better. That, after all, is why we get up in the morning and go to work, in the hope that we might just be making a difference, that we’re working towards something.
                                    <br>That’s certainly true across the technology landscape. And in cybersecurity in particular, the belief that you’re building a more secure world – even if it’s on a small scale – is an energizing and motivating thought.</p><br>
                                <br><br>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" style="border-radius: 10px"
                                            src="https://www.youtube.com/embed/DsTWlKgXniw"
                                            allowfullscreen></iframe>
                                </div>
                                <br>
                                
                                <br>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>

{% endblock %}